body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #dfe1f3;
}

nav {
    display: flex;
    justify-content: space-between;
    background: #333;
    color: white;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.btn-logout {
    background: rgb(5, 7, 133);
    color: white;
    border: none;
    padding: 5px 10px;
}

.card {
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
}

button {
    padding: 6px 10px;
    margin-top: 5px;
    cursor: pointer;
}

button.aprobar {
    background: green;
    color: white;
}

button.rechazar {
    background: red;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}

.loader {
    text-align: center;
}